* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 700;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("TTLakes"),
        /* Если не получилось, загрузит woff2 */
        url("../fonts/TTLakes-Bold.ttf") format("ttf"),
        /* Если браузер не поддерживает woff2, загрузит woff */
        url("../fonts/TTLakes-Bold.woff") format("woff");
}

@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 500;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("TTLakes"),
        /* Если не получилось, загрузит woff2 */
        url("../fonts/TTLakes-Medium.ttf") format("ttf"),
        /* Если браузер не поддерживает woff2, загрузит woff */
        url("../fonts/TTLakes-Medium.woff") format("woff");
}

@font-face {
    font-family: "TTLakes";
    font-style: normal;
    font-weight: 400;
    /* Браузер сначала попробует найти шрифт локально */
    src: local("TTLakes"),
        /* Если не получилось, загрузит woff2 */
        url("../fonts/TTLakes-Regular.ttf") format("ttf"),
        /* Если браузер не поддерживает woff2, загрузит woff */
        url("../fonts/TTLakes-Regular.woff") format("woff");
}

body {
    margin: 0;
    font-family: "TTLakes";
    /*, Arial, sans-serif;*/
}

li {
    list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 88px;
}

@media(min-width:1120px) {
    .header {
        display: none;
    }
}

.container {
    padding: 0 16px;
    min-width: 320px;
}

@media(min-width:768px) {
    .container {
        padding: 0 24px;
    }
}

@media(min-width:1120px) {
    .container {
        padding: 0 36px;
    }
}

.burger {
    padding: 0;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #FF3E79;
    cursor: pointer;
}

.burger__line,
.burger::before,
.burger::after {
    display: block;
    height: 2.02px;
    background-color: #FFF;
    margin-left: 11px;
}

.burger::before {
    content: "";
    width: 18px;
}

.burger__line {
    width: 10px;
    margin: 5px 0 5px 11px;
}

.burger::after {
    content: "";
    width: 14px;
}


.grey-line {
    background: #EAEAEA;
    border-radius: 1px;
    width: 2px;
    height: 32px;
    margin-right: 20px;
    border-radius: 1px;

}

header>.grey-line {
    display: none;
}


@media(min-width:768px) {
    header .grey-line {
        display: inline-block;
        margin: 0 20px;
    }
}

.header__logo {
    margin: 0 16.73px;
}

@media(min-width:768px) {
    .header__logo {
        margin: 0;
    }
}



/*ICONS*/
.header__icons {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.icons {
    display: flex;
    align-items: center;
}

.icons:first-child {
    display: none;
}

@media(min-width:768px) {
    .icons:first-child {
        display: flex;
    }
}

.icons__button {
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background-color: #FF3E79;
    background-repeat: no-repeat;
    background-position: center;
}

.icons__call {
    background-image: url(../image/icon/call.svg);
}

.icons__chat {
    background-image: url(../image/icon/chat.svg);
}

.icons__profile {
    background-image: url(../image/icon/profile.svg);
}

.icons__repair {
    background-image: url(../image/icon/repair.svg);
}

.icons__checkstatus {
    background-image: url(../image/icon/checkstatus.svg);
}

.icons__tittle {
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin-right: 32px;
    cursor: pointer;
}

.icons__tittle .icons__button {
    margin-left: 8px;
}

.icons__button+.icons__button {
    margin-left: 16px;
}


/* MAIN */
.main {
    background-color: #F8F8F8;
    min-width: 320px;
    min-height: 100vh;


}

.main-header {
    position: relative;
}

.main__main-header {

    padding-top: 24px;
}

.main-header__wrapper-tittle {
    display: flex;
    justify-content: space-between;
}

.main-header__tittle {

    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
    color: #1B1C21;
    font-weight: 700;
}

.main-header__wrapper-tittle::before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0px;
    width: 4px;
    height: 40px;
    background-color: #41F6D7;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}


.main-header__icons {
    display: none;
}

@media(min-width:1120px) {
    .main-header__icons {
        display: block;
    }
}

/*menu*/

.main-header__menu {
    margin-top: 24px;
}

.main-menu {
    display: flex;
    white-space: nowrap;
    padding: 0;
    overflow: auto;
    scrollbar-width: none;

    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    font-weight: 500;
}

@media(min-width:1120px) {
    .main-menu {
        flex-wrap: wrap;
    }
}

.main-menu::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.main-menu__item {
    padding: 8px 10px 8px 16px;
    margin-top: 7px;
    border: 2px solid transparent;
    margin-right: 20px;
}

.main-menu__item:first-child {
    margin-right: 0;
}

.main-menu__item--active {
    background: #FFFFFF;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

/*text*/
.main-text {
    display: flex;
    flex-direction: column;

}

@media(min-width:768px) {
    .main-text {
        flex-direction: row;
    }
}

.main-text__content {
    height: 100px;
    overflow-y: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.2px;
    color: #1B1C21;
}


@media(min-width:768px) {
    .main-text__content {
        height: 160px;
    }
}

.main-text__paragraph {
    padding: 0;
    margin: 0 0 30px 0;
}

.main-text__read-more {
    font-family: inherit;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #1B1C21;
    border: none;
    background-color: inherit;
    margin: 16px 0;
    cursor: pointer;
    padding: 0;
}

.main-text__read-more::before {
    content: "";
    display: inline-block;
    width: 7.41px;
    height: 10.29px;
    background-image: url("../image/icon/read-more.svg");
    background-size: contain;
    margin: 0 16px 0 8px;

}

@media(min-width:768px) {
    .main-text__image-cps {
        max-width: 50%;
        margin: 0 24px;
    }
}

@media(min-width:1120px) {
    .main-text__image-cps {
        margin: 0 36px;
    }
}